# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vs code
.vscode

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Custom
.DS_Store
/src/generated/resources/.cache
/runs/client/logs
/runs/data/logs
runs/client/usernamecache.json
runs/client/usercache.json
